name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  main:
    name: Test and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Setup Golang with lint
        uses: flipgroup/action-golang-with-lint@main
        with:
          version-golang: ~1.17
          version-golangci-lint: v1.43.0
      - name: Test
        run: go test -count=1 -v ./...
